@font-face {
    font-family: 'Rockwell';
    src: url('/Rockwell-Regular.woff2') format('woff2'),
        url('/Rockwell-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}